<ion-header>
  <ion-navbar>
    <ion-title>Statistics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h3 text-center>Filters</h3>
    <ion-row>
      <ion-col col-6 text-center>
        <ion-item>
          <ion-label text-center>Start Date</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [(ngModel)]="startDate" (ionChange)="filterChange()"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label text-center>End Date</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [(ngModel)]="endDate" (ionChange)="filterChange()"></ion-datetime>
        </ion-item>
      </ion-col>    
    </ion-row>
    <!--
    <h3 *ngIf="state.dates.length" margin-top text-center>Filtered Dates Avgs</h3>
    <div class="totals" *ngIf="state.avgForecastHours && state.avgActualHours">
      <div>Average Forecast Hours:  {{ state.avgForecastHours }}</div>
      <div>Average Actual Hours:  {{ state.avgActualHours }}</div>
    </div>
    -->
    <table *ngIf="state.dates.length" padding margin-top>
      <tr>
        <th></th>
        <th>Forecast GM</th>
        <th>Forecast CS</th>
        <th>Actual GM</th>
        <th>Actual CS</th>
      </tr>
      <tr *ngFor="let x of state.dates; let i = index;">
        <td class="bold" *ngIf="x.date && x.month">{{ months[x.month].abbrev }} {{ x.date }}</td>
        <td> {{ x.forecastGM }}</td>
        <td> {{ x.forecastCS }}</td>
        <td> {{ x.actualGM }}</td>
        <td> {{ x.actualCS }}</td>
      </tr>
    </table>


</ion-content>
